h1, h3, h5, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p, ul, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    display: flex;
    height: 6vh; 
    justify-content: space-between;
    align-items: center;
}

#nav-start {
    flex-grow: 4;
    margin-left: 2vw;
}

#nav-start a {
    font-size: 150%;
    transition: all .1s ease-in;
}

#nav-start a:hover {
    color: #000000;
}

#nav-end {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

#nav-end a {
    transition: all .1s ease-in;
}

#nav-end a:hover {
    color: #0E3FF2;
    transform: scale(1.01);
}

#music-icon {
    padding-right: .3vw;
}

input[type=text] {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #fb004d;
    border-radius: 50px;
    padding: .4vw;
}

nav a {
    color: #fb004d;
    text-decoration: none;
    font-weight: 900;
    font-size: 120%;
}

.block-row {
    display: flex;
}

.colorblock {
    display: flex;
    height: 80vh;
    width: 50vw;
    padding: 6vw;
    justify-content: center;
    align-items: center;
}

#top-yellow-block {
    background-color: #FFD14D;
    font-size: 3vw;
    flex-direction: column;
}

#top-yellow-block button {
    font-size: 50%;
    margin-top: 0;
    margin-bottom: 3vh;
}

#top-yellow-block h1 {
    margin-bottom: 3vh;
}


#pink-block, footer {
    background-color: #fb004d;
}

#blue-block {
    background-color: #0E3FF2;
}

#white-block {
    font-size: 2.5vw;
}

#black-block {
    background-color: #000000;
    font-size: 2.5vw;
    color: #ffffff;
}

#bottom-yellow-block {
    background-color: #FFD14D;
}

/*******************
padding values lifted from original site at houseparty.com
********************/
footer {
    color: #ffffff;
    display: flex;
    padding: 2.9em;
    padding-bottom: 2em;
    font-size: .75em;
} 

/*******************
values lifted from original site at houseparty.com
********************/
.footer-col {
    width: 11em;
    margin-right: 1.4em;
    margin-bottom: 1em;
}

/*******************
code lifted from original site at houseparty.com
to just put white border on inner columns
********************/
.footer-col:not(:last-child) {
    border-right: 1px solid #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer h5 {
    margin: 0;
    margin-bottom: 1em; 
}

footer ul {
    padding: 0;
    margin: 0;
    margin-bottom: .35em;
}

/*******************
padding and text-align values lifted from 
original site at houseparty.com
********************/
#members {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 8vh 0;
}

.member-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-box button {
    margin-top: 2vh;
}

img {
    width: 20vw;
    border: 1px solid #dddddd;
    padding: 4px;
    box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.1);
}

.gif {
    border: none;
    box-shadow: none;
    height: 30vw;
    width: auto;
}

/*******************
padding, font-size, and border-radius, transition and box-shadow
values lifted from  original site at houseparty.com
********************/
button {
    padding: 1em 2.5em;
    border: none;
    border-radius: 3em;
    background-color: #fb004d;
    color: #ffffff;
    font-size: 100%;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    transition: transform .3s ease-out, box-shadow .3s ease-out;
}

/*******************
hover state lifted from  original site at houseparty.com
********************/
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0.35em 0.85em rgba(0, 0, 0, 0.2);
}

/*******************
position, margin, and box-shadow values
lifted from  original site at houseparty.com
********************/
.sticky-button {
    position: fixed;
    margin-left: 1em;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25em 1em;
}

@media only screen and (max-width: 850px) {
    .block-row {
        flex-direction: column;
    }

    .colorblock {
        width: 100vw;
        padding: 0vw;
    }

    #top-yellow-block, #white-block, #black-block {
        font-size: 4vw;
    }

    #white-block h1 {
        padding-left: 3vw;
    }

    .gif {
        height: 60vw;
    }

    #members {
        flex-wrap: wrap;
        padding: 6vh 0;
    }

    .member-box {
        width: 50%;
        height: auto;
        padding: 3vh 0;
    }

    .member-box button {
        font-size: 80%;
    }
}